/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER */
.main-header {
    padding: 10px 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.main-menu {
    display: flex;
    gap: 10px;
    padding: 0 100px;
}






/* DEBUG */
.navbar.debug {
    border: 2px dotted black;
    background-color: rgb(196, 151, 36);
}
.main-menu.debug{
    border: 3px dotted black;
}